# User Setup

## Preamble

In [ ]:
from pathlib import Path

## Setup

As the first step, we import the `tuttle` Python module and instantiate the `app` object:

In [2]:
import tuttle

In [3]:
controller = tuttle.controller.Controller(
    preferences=tuttle.preferences.Preferences(
        invoice_dir=Path("Invoices"),
    ),
)

2022-11-01 16:26:08.736 | INFO     | tuttle.controller:create_model:76 - creating database model

Since this is the beginning of the workflow, let's make sure that we start from a clean database.

In [4]:
controller.clear_database()

2022-11-01 16:26:08.744 | INFO     | tuttle.controller:create_model:76 - creating database model

2022-11-01 16:26:08,745 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-01 16:26:08,746 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("address")
2022-11-01 16:26:08,746 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,747 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("address")
2022-11-01 16:26:08,747 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,747 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user")
2022-11-01 16:26:08,748 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,748 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("user")
2022-11-01 16:26:08,748 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,749 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("icloudaccount")
2022-11-01 16:26:08,749 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,749 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("icloudaccount")
2022-11-01 16:26:08,750 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,750 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("googleaccount")
2022-11-01 16:26:08,750 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,751 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("googleaccount")
2022-11-01 16:26:08,751 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,752 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("bank")
2022-11-01 16:26:08,752 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,752 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("bank")
2022-11-01 16:26:08,752 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,753 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("bankaccount")
2022-11-01 16:26:08,753 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,754 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("bankaccount")
2022-11-01 16:26:08,754 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,755 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("contact")
2022-11-01 16:26:08,755 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,755 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("contact")
2022-11-01 16:26:08,755 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,756 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("client")
2022-11-01 16:26:08,756 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,757 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("client")
2022-11-01 16:26:08,757 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,757 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("contract")
2022-11-01 16:26:08,757 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,758 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("contract")
2022-11-01 16:26:08,758 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,758 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("project")
2022-11-01 16:26:08,759 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,759 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("project")
2022-11-01 16:26:08,759 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,760 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("timetrackingitem")
2022-11-01 16:26:08,760 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,760 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("timetrackingitem")
2022-11-01 16:26:08,761 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,761 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("timesheet")
2022-11-01 16:26:08,761 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,762 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("timesheet")
2022-11-01 16:26:08,762 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,763 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("invoice")
2022-11-01 16:26:08,763 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,764 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("invoice")
2022-11-01 16:26:08,765 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,766 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("invoiceitem")
2022-11-01 16:26:08,766 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,766 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("invoiceitem")
2022-11-01 16:26:08,767 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,767 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("timelineitem")
2022-11-01 16:26:08,767 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,768 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("timelineitem")
2022-11-01 16:26:08,768 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-01 16:26:08,769 INFO sqlalchemy.engine.Engine
CREATE TABLE address (
	id INTEGER NOT NULL,
	street VARCHAR NOT NULL,
	number VARCHAR NOT NULL,
	city VARCHAR NOT NULL,
	postal_code VARCHAR NOT NULL,
	country VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-11-01 16:26:08,770 INFO sqlalchemy.engine.Engine [no key 0.00049s] ()
2022-11-01 16:26:08,771 INFO sqlalchemy.engine.Engine
CREATE TABLE icloudaccount (
	id INTEGER NOT NULL,
	user_name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-11-01 16:26:08,772 INFO sqlalchemy.engine.Engine [no key 0.00041s] ()
2022-11-01 16:26:08,773 INFO sqlalchemy.engine.Engine
CREATE TABLE googleaccount (
	id INTEGER NOT NULL,
	user_name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-11-01 16:26:08,773 INFO sqlalchemy.engine.Engine [no key 0.00035s] ()
2022-11-01 16:26:08,774 INFO sqlalchemy.engine.Engine
CREATE TABLE bank (
	id INTEGER NOT NULL,
	"BLZ" VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-11-01 16:26:08,775 INFO sqlalchemy.engine.Engine [no key 0.00037s] ()
2022-11-01 16:26:08,776 INFO sqlalchemy.engine.Engine
CREATE TABLE bankaccount (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	"IBAN" VARCHAR NOT NULL,
	"BIC" VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-11-01 16:26:08,777 INFO sqlalchemy.engine.Engine [no key 0.00046s] ()
2022-11-01 16:26:08,778 INFO sqlalchemy.engine.Engine
CREATE TABLE timelineitem (
	time DATETIME NOT NULL,
	id INTEGER NOT NULL,
	content VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-11-01 16:26:08,779 INFO sqlalchemy.engine.Engine [no key 0.00040s] ()
2022-11-01 16:26:08,780 INFO sqlalchemy.engine.Engine
CREATE TABLE user (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	subtitle VARCHAR NOT NULL,
	website VARCHAR NOT NULL,
	email VARCHAR NOT NULL,
	phone_number VARCHAR NOT NULL,
	address_id INTEGER,
	"VAT_number" VARCHAR,
	icloud_account_id INTEGER,
	bank_account_id INTEGER,
	logo VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(address_id) REFERENCES address (id),
	FOREIGN KEY(icloud_account_id) REFERENCES icloudaccount (id),
	FOREIGN KEY(bank_account_id) REFERENCES bankaccount (id)
)


2022-11-01 16:26:08,781 INFO sqlalchemy.engine.Engine [no key 0.00055s] ()
2022-11-01 16:26:08,782 INFO sqlalchemy.engine.Engine
CREATE TABLE contact (
	id INTEGER NOT NULL,
	first_name VARCHAR,
	last_name VARCHAR,
	company VARCHAR,
	email VARCHAR,
	address_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(address_id) REFERENCES address (id)
)


2022-11-01 16:26:08,783 INFO sqlalchemy.engine.Engine [no key 0.00071s] ()
2022-11-01 16:26:08,784 INFO sqlalchemy.engine.Engine
CREATE TABLE client (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	invoicing_contact_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(invoicing_contact_id) REFERENCES contact (id)
)


2022-11-01 16:26:08,785 INFO sqlalchemy.engine.Engine [no key 0.00039s] ()
2022-11-01 16:26:08,787 INFO sqlalchemy.engine.Engine
CREATE TABLE contract (
	unit VARCHAR(6),
	billing_cycle VARCHAR(9),
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	signature_date DATE NOT NULL,
	start_date DATE NOT NULL,
	end_date DATE,
	client_id INTEGER,
	rate NUMERIC NOT NULL,
	currency VARCHAR NOT NULL,
	"VAT_rate" NUMERIC NOT NULL,
	units_per_workday INTEGER NOT NULL,
	volume INTEGER,
	term_of_payment INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(client_id) REFERENCES client (id)
)


2022-11-01 16:26:08,788 INFO sqlalchemy.engine.Engine [no key 0.00076s] ()
2022-11-01 16:26:08,790 INFO sqlalchemy.engine.Engine
CREATE TABLE project (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	tag VARCHAR NOT NULL,
	start_date DATE NOT NULL,
	end_date DATE NOT NULL,
	contract_id INTEGER,
	PRIMARY KEY (id),
	UNIQUE (title),
	UNIQUE (tag),
	FOREIGN KEY(contract_id) REFERENCES contract (id)
)


2022-11-01 16:26:08,790 INFO sqlalchemy.engine.Engine [no key 0.00037s] ()
2022-11-01 16:26:08,792 INFO sqlalchemy.engine.Engine
CREATE TABLE invoice (
	id INTEGER NOT NULL,
	number VARCHAR,
	date DATE NOT NULL,
	contract_id INTEGER,
	sent BOOLEAN,
	paid BOOLEAN,
	cancelled BOOLEAN,
	rendered BOOLEAN NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(contract_id) REFERENCES contract (id)
)


2022-11-01 16:26:08,792 INFO sqlalchemy.engine.Engine [no key 0.00050s] ()
2022-11-01 16:26:08,794 INFO sqlalchemy.engine.Engine
CREATE TABLE timesheet (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	date DATE NOT NULL,
	project_id INTEGER,
	comment VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(project_id) REFERENCES project (id)
)


2022-11-01 16:26:08,794 INFO sqlalchemy.engine.Engine [no key 0.00049s] ()
2022-11-01 16:26:08,796 INFO sqlalchemy.engine.Engine
CREATE TABLE invoiceitem (
	id INTEGER NOT NULL,
	start_date DATE NOT NULL,
	end_date DATE,
	quantity INTEGER NOT NULL,
	unit VARCHAR NOT NULL,
	unit_price NUMERIC NOT NULL,
	description VARCHAR NOT NULL,
	"VAT_rate" NUMERIC NOT NULL,
	invoice_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(invoice_id) REFERENCES invoice (id)
)


2022-11-01 16:26:08,796 INFO sqlalchemy.engine.Engine [no key 0.00038s] ()
2022-11-01 16:26:08,797 INFO sqlalchemy.engine.Engine
CREATE TABLE timetrackingitem (
	id INTEGER NOT NULL,
	timesheet_id INTEGER,
	"begin" DATETIME NOT NULL,
	"end" DATETIME,
	duration DATETIME NOT NULL,
	title VARCHAR NOT NULL,
	tag VARCHAR NOT NULL,
	description VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(timesheet_id) REFERENCES timesheet (id)
)


2022-11-01 16:26:08,798 INFO sqlalchemy.engine.Engine [no key 0.00028s] ()
2022-11-01 16:26:08,799 INFO sqlalchemy.engine.Engine COMMIT

After running this, a new database has been created in your user space:

In [5]:
!ls {Path.home()}/.tuttle/

Invoices  tuttle.db

## User

When first running the application, you need to provide the application with information about you and your freelance business. You do this by creating a new `User` object.

Here is an example:

In [6]:
from tuttle.model import User, Address, BankAccount, ICloudAccount

In [7]:
harry = User(
    name="Harry Tuttle",
    subtitle="Heating Engineer",
    website="https://tuttle-dev.github.io/tuttle/",
    email="mail@tuttle.com",
    phone_number="+55555555555",
    VAT_number="DZ-015",
    address=Address(
        name="Harry Tuttle",
        street="Main Street",
        number="450",
        city="Sao Paolo",
        postal_code="555555",
        country="Brazil",
    ),
    bank_account=BankAccount(
        name="Giro",
        IBAN="BZ99830994950003161565",
        BIC="ABCDEFGH",
    ),
    icloud_account=ICloudAccount(user_name="mail@tuttle.com")
)

Now it's your turn - please provide your details and instantiate a user object. 

(If you do not have an iCloud account, don't worry, there are other options of accessing your calendar data).

In [8]:
user = harry # replace this with an new user object

Store your new user in the database:

In [9]:
controller.store(user)

Test this by accessing the user:

In [10]:
controller.user

User(id=1, website='https://tuttle-dev.github.io/tuttle/', phone_number='+55555555555', VAT_number='DZ-015', bank_account_id=1, name='Harry Tuttle', subtitle='Heating Engineer', email='mail@tuttle.com', address_id=1, icloud_account_id=1, logo=None)