# Setup

As the first step, we import the `tuttle` Python module and instantiate the `app` object:

In [1]:
import tuttle

In [2]:
app = tuttle.app.App()

2022-02-19 17:10:08,386 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-19 17:10:08,386 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("address")
2022-02-19 17:10:08,387 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,387 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user")
2022-02-19 17:10:08,387 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,388 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("icloudaccount")
2022-02-19 17:10:08,388 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,388 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("googleaccount")
2022-02-19 17:10:08,388 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,388 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("bank")
2022-02-19 17:10:08,389 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,389 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("bankaccount")
2022-02-19 17:10:08,389 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,389 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("contact")
2022-02-19 17:10:08,390 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,390 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("client")
2022-02-19 17:10:08,390 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,390 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("contract")
2022-02-19 17:10:08,391 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,391 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("project")
2022-02-19 17:10:08,391 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,391 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("timetrackingitem")
2022-02-19 17:10:08,392 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,392 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("timesheet")
2022-02-19 17:10:08,392 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,392 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("invoice")
2022-02-19 17:10:08,393 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,393 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("invoiceitem")
2022-02-19 17:10:08,393 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,393 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("timelineitem")
2022-02-19 17:10:08,394 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,394 INFO sqlalchemy.engine.Engine COMMIT

Since this is the beginning of the workflow, let's make sure that we start from a clean database.

In [3]:
app.clear_database()

2022-02-19 17:10:08,398 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-19 17:10:08,399 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("address")
2022-02-19 17:10:08,399 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,399 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("address")
2022-02-19 17:10:08,400 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,400 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user")
2022-02-19 17:10:08,400 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,400 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("user")
2022-02-19 17:10:08,401 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,401 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("icloudaccount")
2022-02-19 17:10:08,401 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,401 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("icloudaccount")
2022-02-19 17:10:08,402 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,402 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("googleaccount")
2022-02-19 17:10:08,402 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,402 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("googleaccount")
2022-02-19 17:10:08,402 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,403 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("bank")
2022-02-19 17:10:08,403 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,403 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("bank")
2022-02-19 17:10:08,403 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,404 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("bankaccount")
2022-02-19 17:10:08,404 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,404 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("bankaccount")
2022-02-19 17:10:08,404 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,404 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("contact")
2022-02-19 17:10:08,405 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,405 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("contact")
2022-02-19 17:10:08,405 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,405 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("client")
2022-02-19 17:10:08,405 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,406 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("client")
2022-02-19 17:10:08,406 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,406 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("contract")
2022-02-19 17:10:08,406 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,406 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("contract")
2022-02-19 17:10:08,407 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,407 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("project")
2022-02-19 17:10:08,407 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,407 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("project")
2022-02-19 17:10:08,407 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,407 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("timetrackingitem")
2022-02-19 17:10:08,408 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,408 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("timetrackingitem")
2022-02-19 17:10:08,408 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,408 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("timesheet")
2022-02-19 17:10:08,408 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,409 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("timesheet")
2022-02-19 17:10:08,409 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,409 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("invoice")
2022-02-19 17:10:08,409 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,409 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("invoice")
2022-02-19 17:10:08,410 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,410 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("invoiceitem")
2022-02-19 17:10:08,410 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,410 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("invoiceitem")
2022-02-19 17:10:08,410 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,411 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("timelineitem")
2022-02-19 17:10:08,411 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,411 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("timelineitem")
2022-02-19 17:10:08,411 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-19 17:10:08,412 INFO sqlalchemy.engine.Engine
CREATE TABLE address (
	id INTEGER,
	street VARCHAR NOT NULL,
	number VARCHAR NOT NULL,
	city VARCHAR NOT NULL,
	postal_code VARCHAR NOT NULL,
	country VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-02-19 17:10:08,412 INFO sqlalchemy.engine.Engine [no key 0.00020s] ()
2022-02-19 17:10:08,413 INFO sqlalchemy.engine.Engine
CREATE TABLE icloudaccount (
	id INTEGER,
	user_name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-02-19 17:10:08,413 INFO sqlalchemy.engine.Engine [no key 0.00022s] ()
2022-02-19 17:10:08,414 INFO sqlalchemy.engine.Engine
CREATE TABLE googleaccount (
	id INTEGER,
	user_name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-02-19 17:10:08,414 INFO sqlalchemy.engine.Engine [no key 0.00018s] ()
2022-02-19 17:10:08,415 INFO sqlalchemy.engine.Engine
CREATE TABLE bank (
	id INTEGER,
	"BLZ" VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-02-19 17:10:08,415 INFO sqlalchemy.engine.Engine [no key 0.00018s] ()
2022-02-19 17:10:08,416 INFO sqlalchemy.engine.Engine
CREATE TABLE bankaccount (
	id INTEGER,
	name VARCHAR NOT NULL,
	"IBAN" VARCHAR NOT NULL,
	"BIC" VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-02-19 17:10:08,416 INFO sqlalchemy.engine.Engine [no key 0.00021s] ()
2022-02-19 17:10:08,417 INFO sqlalchemy.engine.Engine
CREATE TABLE timelineitem (
	time DATETIME NOT NULL,
	id INTEGER,
	content VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-02-19 17:10:08,417 INFO sqlalchemy.engine.Engine [no key 0.00017s] ()
2022-02-19 17:10:08,418 INFO sqlalchemy.engine.Engine
CREATE TABLE user (
	id INTEGER,
	name VARCHAR NOT NULL,
	subtitle VARCHAR NOT NULL,
	website VARCHAR NOT NULL,
	e_mail VARCHAR NOT NULL,
	phone_number VARCHAR NOT NULL,
	address_id INTEGER,
	"VAT_number" VARCHAR,
	icloud_account_id INTEGER,
	bank_account_id INTEGER,
	logo VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(address_id) REFERENCES address (id),
	FOREIGN KEY(icloud_account_id) REFERENCES icloudaccount (id),
	FOREIGN KEY(bank_account_id) REFERENCES bankaccount (id)
)


2022-02-19 17:10:08,418 INFO sqlalchemy.engine.Engine [no key 0.00020s] ()
2022-02-19 17:10:08,418 INFO sqlalchemy.engine.Engine
CREATE TABLE contact (
	id INTEGER,
	name VARCHAR NOT NULL,
	e_mail VARCHAR,
	address_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(address_id) REFERENCES address (id)
)


2022-02-19 17:10:08,419 INFO sqlalchemy.engine.Engine [no key 0.00020s] ()
2022-02-19 17:10:08,419 INFO sqlalchemy.engine.Engine
CREATE TABLE client (
	id INTEGER,
	name VARCHAR NOT NULL,
	invoicing_contact_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(invoicing_contact_id) REFERENCES contact (id)
)


2022-02-19 17:10:08,420 INFO sqlalchemy.engine.Engine [no key 0.00024s] ()
2022-02-19 17:10:08,420 INFO sqlalchemy.engine.Engine
CREATE TABLE contract (
	unit VARCHAR(6),
	billing_cycle VARCHAR(9),
	id INTEGER,
	title VARCHAR NOT NULL,
	signature_date DATE NOT NULL,
	start_date DATE NOT NULL,
	end_date DATE,
	client_id INTEGER,
	rate NUMERIC NOT NULL,
	currency VARCHAR NOT NULL,
	units_per_workday INTEGER,
	volume INTEGER,
	term_of_payment INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(client_id) REFERENCES client (id)
)


2022-02-19 17:10:08,421 INFO sqlalchemy.engine.Engine [no key 0.00028s] ()
2022-02-19 17:10:08,422 INFO sqlalchemy.engine.Engine
CREATE TABLE project (
	id INTEGER,
	title VARCHAR NOT NULL,
	tag VARCHAR NOT NULL,
	start_date DATE NOT NULL,
	end_date DATE NOT NULL,
	contract_id INTEGER,
	PRIMARY KEY (id),
	UNIQUE (title),
	UNIQUE (tag),
	FOREIGN KEY(contract_id) REFERENCES contract (id)
)


2022-02-19 17:10:08,422 INFO sqlalchemy.engine.Engine [no key 0.00026s] ()
2022-02-19 17:10:08,423 INFO sqlalchemy.engine.Engine
CREATE TABLE invoice (
	id INTEGER,
	number VARCHAR,
	date DATE NOT NULL,
	contract_id INTEGER,
	sent BOOLEAN,
	paid BOOLEAN,
	cancelled BOOLEAN,
	PRIMARY KEY (id),
	FOREIGN KEY(contract_id) REFERENCES contract (id)
)


2022-02-19 17:10:08,423 INFO sqlalchemy.engine.Engine [no key 0.00039s] ()
2022-02-19 17:10:08,424 INFO sqlalchemy.engine.Engine
CREATE TABLE timesheet (
	id INTEGER,
	title VARCHAR NOT NULL,
	date DATE NOT NULL,
	period VARCHAR NOT NULL,
	project_id INTEGER,
	comment VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(project_id) REFERENCES project (id)
)


2022-02-19 17:10:08,425 INFO sqlalchemy.engine.Engine [no key 0.00075s] ()
2022-02-19 17:10:08,426 INFO sqlalchemy.engine.Engine
CREATE TABLE invoiceitem (
	id INTEGER,
	date DATE NOT NULL,
	quantity INTEGER NOT NULL,
	unit VARCHAR NOT NULL,
	unit_price NUMERIC NOT NULL,
	description VARCHAR NOT NULL,
	"VAT_rate" NUMERIC NOT NULL,
	invoice_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(invoice_id) REFERENCES invoice (id)
)


2022-02-19 17:10:08,427 INFO sqlalchemy.engine.Engine [no key 0.00040s] ()
2022-02-19 17:10:08,428 INFO sqlalchemy.engine.Engine
CREATE TABLE timetrackingitem (
	id INTEGER,
	timesheet_id INTEGER,
	"begin" DATETIME NOT NULL,
	"end" DATETIME NOT NULL,
	duration DATETIME NOT NULL,
	title VARCHAR NOT NULL,
	tag VARCHAR NOT NULL,
	description VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(timesheet_id) REFERENCES timesheet (id)
)


2022-02-19 17:10:08,428 INFO sqlalchemy.engine.Engine [no key 0.00020s] ()
2022-02-19 17:10:08,429 INFO sqlalchemy.engine.Engine COMMIT

After running this, a new database has been created in your user space:

In [4]:
!ls /Users/cls/.tuttle/

tuttle.db

## User

When first running the application, you need to provide the application with information about you and your freelance business. You do this by creating a new `User` object.

Here is an example:

In [5]:
from tuttle.model import User, Address, BankAccount, ICloudAccount

In [6]:
harry = User(
    name="Harry Tuttle",
    subtitle="Heating Engineer",
    website="https://tuttle-dev.github.io/tuttle/",
    e_mail="mail@tuttle.com",
    phone_number="+55555555555",
    VAT_number="DZ-015",
    address=Address(
        name="Harry Tuttle",
        street="Main Street",
        number="450",
        city="Sao Paolo",
        postal_code="555555",
        country="Brazil",
    ),
    bank_account=BankAccount(
        name="Giro",
        IBAN="BZ99830994950003161565",
        BIC="ABCDEFGH",
    ),
    icloud_account=ICloudAccount(user_name="mail@tuttle.com")
)

Now it's your turn - please provide your details and instantiate a user object. 

(If you do not have an iCloud account, don't worry, there are other options of accessing your calendar data).

In [7]:
user = harry # replace this with an new user object

Store your new user in the database:

In [8]:
app.store(user)

2022-02-19 17:10:08,618 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-19 17:10:08,620 INFO sqlalchemy.engine.Engine INSERT INTO address (street, number, city, postal_code, country) VALUES (?, ?, ?, ?, ?)
2022-02-19 17:10:08,620 INFO sqlalchemy.engine.Engine [generated in 0.00036s] ('Main Street', '450', 'Sao Paolo', '555555', 'Brazil')
2022-02-19 17:10:08,621 INFO sqlalchemy.engine.Engine INSERT INTO bankaccount (name, "IBAN", "BIC") VALUES (?, ?, ?)
2022-02-19 17:10:08,621 INFO sqlalchemy.engine.Engine [generated in 0.00027s] ('Giro', 'BZ99830994950003161565', 'ABCDEFGH')
2022-02-19 17:10:08,622 INFO sqlalchemy.engine.Engine INSERT INTO icloudaccount (user_name) VALUES (?)
2022-02-19 17:10:08,622 INFO sqlalchemy.engine.Engine [generated in 0.00027s] ('mail@tuttle.com',)
2022-02-19 17:10:08,623 INFO sqlalchemy.engine.Engine INSERT INTO user (name, subtitle, website, e_mail, phone_number, address_id, "VAT_number", icloud_account_id, bank_account_id, logo) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-02-19 17:10:08,623 INFO sqlalchemy.engine.Engine [generated in 0.00037s] ('Harry Tuttle', 'Heating Engineer', 'https://tuttle-dev.github.io/tuttle/', 'mail@tuttle.com', '+55555555555', 1, 'DZ-015', 1, 1, None)
2022-02-19 17:10:08,624 INFO sqlalchemy.engine.Engine COMMIT

Test this by accessing the user:

In [9]:
app.user

2022-02-19 17:10:08,627 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-19 17:10:08,629 INFO sqlalchemy.engine.Engine SELECT user.id, user.name, user.subtitle, user.website, user.e_mail, user.phone_number, user.address_id, user."VAT_number", user.icloud_account_id, user.bank_account_id, user.logo
FROM user
2022-02-19 17:10:08,629 INFO sqlalchemy.engine.Engine [no key 0.00029s] ()

/Users/cls/miniforge3/envs/tuttle/lib/python3.9/site-packages/sqlmodel/orm/session.py:60: SAWarning: Class SelectOfScalar will not make use of SQL compilation caching as it does not set the 'inherit_cache' attribute to ``True``.  This can have significant performance implications including some performance degradations in comparison to prior SQLAlchemy versions.  Set this attribute to True if this object can make use of the cache key generated by the superclass.  Alternatively, this attribute may be set to False which will disable this warning. (Background on this error at: https://sqlalche.me/e/14/cprf)
  results = super().execute(

User(id=1, website='https://tuttle-dev.github.io/tuttle/', phone_number='+55555555555', VAT_number='DZ-015', bank_account_id=1, logo=None, name='Harry Tuttle', subtitle='Heating Engineer', e_mail='mail@tuttle.com', address_id=1, icloud_account_id=1)

In [10]:
app.user.e_mail

2022-02-19 17:10:08,636 INFO sqlalchemy.engine.Engine SELECT user.id, user.name, user.subtitle, user.website, user.e_mail, user.phone_number, user.address_id, user."VAT_number", user.icloud_account_id, user.bank_account_id, user.logo
FROM user
2022-02-19 17:10:08,636 INFO sqlalchemy.engine.Engine [no key 0.00048s] ()

'mail@tuttle.com'