# Dialog: User Setup

## Preamble

In [1]:
import sqlmodel

In [2]:
import tuttle

2022-01-10 17:35:29,896 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-10 17:35:29,896 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("address")
2022-01-10 17:35:29,896 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,897 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user")
2022-01-10 17:35:29,897 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,897 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("bank")
2022-01-10 17:35:29,898 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,898 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("bankaccount")
2022-01-10 17:35:29,898 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,899 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("contact")
2022-01-10 17:35:29,899 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,900 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("client")
2022-01-10 17:35:29,900 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,900 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("rate")
2022-01-10 17:35:29,900 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,901 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("contract")
2022-01-10 17:35:29,901 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,901 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("project")
2022-01-10 17:35:29,902 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,902 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("timesheet")
2022-01-10 17:35:29,902 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,903 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("invoice")
2022-01-10 17:35:29,903 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,903 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("invoiceitem")
2022-01-10 17:35:29,903 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,904 INFO sqlalchemy.engine.Engine COMMIT

In [3]:
from tuttle.app import the_app

## Dialog

Welcome to Tuttle. You are a freelancer looking to simplify planning for your freelance business. Let's get you set up.

In [4]:
the_app.clear_database()

2022-01-10 17:35:29,990 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-10 17:35:29,991 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("address")
2022-01-10 17:35:29,991 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,991 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("address")
2022-01-10 17:35:29,991 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,992 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user")
2022-01-10 17:35:29,992 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,992 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("user")
2022-01-10 17:35:29,993 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,993 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("bank")
2022-01-10 17:35:29,993 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,994 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("bank")
2022-01-10 17:35:29,994 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,994 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("bankaccount")
2022-01-10 17:35:29,994 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,995 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("bankaccount")
2022-01-10 17:35:29,995 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,995 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("contact")
2022-01-10 17:35:29,995 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,996 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("contact")
2022-01-10 17:35:29,996 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,996 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("client")
2022-01-10 17:35:29,996 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,997 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("client")
2022-01-10 17:35:29,997 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,997 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("rate")
2022-01-10 17:35:29,997 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,997 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("rate")
2022-01-10 17:35:29,998 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,998 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("contract")
2022-01-10 17:35:29,998 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,998 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("contract")
2022-01-10 17:35:29,998 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,999 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("project")
2022-01-10 17:35:29,999 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:29,999 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("project")
2022-01-10 17:35:29,999 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:30,000 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("timesheet")
2022-01-10 17:35:30,000 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:30,000 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("timesheet")
2022-01-10 17:35:30,000 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:30,001 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("invoice")
2022-01-10 17:35:30,002 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:30,003 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("invoice")
2022-01-10 17:35:30,003 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:30,003 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("invoiceitem")
2022-01-10 17:35:30,004 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:30,004 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("invoiceitem")
2022-01-10 17:35:30,004 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-10 17:35:30,005 INFO sqlalchemy.engine.Engine
CREATE TABLE address (
	id INTEGER,
	street VARCHAR NOT NULL,
	number VARCHAR NOT NULL,
	city VARCHAR NOT NULL,
	zip_code VARCHAR NOT NULL,
	country VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-01-10 17:35:30,005 INFO sqlalchemy.engine.Engine [no key 0.00032s] ()
2022-01-10 17:35:30,006 INFO sqlalchemy.engine.Engine
CREATE TABLE bank (
	id INTEGER,
	"BLZ" VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-01-10 17:35:30,007 INFO sqlalchemy.engine.Engine [no key 0.00023s] ()
2022-01-10 17:35:30,008 INFO sqlalchemy.engine.Engine
CREATE TABLE bankaccount (
	id INTEGER,
	name VARCHAR NOT NULL,
	"IBAN" VARCHAR NOT NULL,
	"BIC" VARCHAR NOT NULL,
	username VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-01-10 17:35:30,009 INFO sqlalchemy.engine.Engine [no key 0.00028s] ()
2022-01-10 17:35:30,009 INFO sqlalchemy.engine.Engine
CREATE TABLE contact (
	id INTEGER,
	name VARCHAR NOT NULL,
	e_mail VARCHAR,
	PRIMARY KEY (id)
)


2022-01-10 17:35:30,010 INFO sqlalchemy.engine.Engine [no key 0.00017s] ()
2022-01-10 17:35:30,010 INFO sqlalchemy.engine.Engine
CREATE TABLE rate (
	cycle VARCHAR(10),
	id INTEGER,
	amount NUMERIC NOT NULL,
	PRIMARY KEY (id)
)


2022-01-10 17:35:30,010 INFO sqlalchemy.engine.Engine [no key 0.00018s] ()
2022-01-10 17:35:30,011 INFO sqlalchemy.engine.Engine
CREATE TABLE user (
	id INTEGER,
	name VARCHAR NOT NULL,
	subtitle VARCHAR NOT NULL,
	e_mail VARCHAR NOT NULL,
	address_id INTEGER,
	"VAT_number" VARCHAR,
	business_name VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(address_id) REFERENCES address (id)
)


2022-01-10 17:35:30,012 INFO sqlalchemy.engine.Engine [no key 0.00051s] ()
2022-01-10 17:35:30,013 INFO sqlalchemy.engine.Engine
CREATE TABLE client (
	id INTEGER,
	name VARCHAR NOT NULL,
	invoicing_contact_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(invoicing_contact_id) REFERENCES contact (id)
)


2022-01-10 17:35:30,014 INFO sqlalchemy.engine.Engine [no key 0.00048s] ()
2022-01-10 17:35:30,015 INFO sqlalchemy.engine.Engine
CREATE TABLE contract (
	id INTEGER,
	title VARCHAR NOT NULL,
	date DATETIME NOT NULL,
	client_id INTEGER,
	rate_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(client_id) REFERENCES client (id),
	FOREIGN KEY(rate_id) REFERENCES rate (id)
)


2022-01-10 17:35:30,015 INFO sqlalchemy.engine.Engine [no key 0.00038s] ()
2022-01-10 17:35:30,016 INFO sqlalchemy.engine.Engine
CREATE TABLE project (
	id INTEGER,
	name VARCHAR NOT NULL,
	start_date DATETIME NOT NULL,
	end_date DATETIME NOT NULL,
	contract_id INTEGER,
	volume INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(contract_id) REFERENCES contract (id)
)


2022-01-10 17:35:30,017 INFO sqlalchemy.engine.Engine [no key 0.00027s] ()
2022-01-10 17:35:30,017 INFO sqlalchemy.engine.Engine
CREATE TABLE timesheet (
	id INTEGER,
	project_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(project_id) REFERENCES project (id)
)


2022-01-10 17:35:30,018 INFO sqlalchemy.engine.Engine [no key 0.00021s] ()
2022-01-10 17:35:30,019 INFO sqlalchemy.engine.Engine
CREATE TABLE invoice (
	id INTEGER,
	timesheet_id INTEGER,
	contract_id INTEGER,
	date DATE NOT NULL,
	due_date DATE NOT NULL,
	sent_date DATE NOT NULL,
	sent BOOLEAN NOT NULL,
	paid BOOLEAN NOT NULL,
	cancelled BOOLEAN NOT NULL,
	total NUMERIC NOT NULL,
	"VAT_total" NUMERIC NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(timesheet_id) REFERENCES timesheet (id),
	FOREIGN KEY(contract_id) REFERENCES contract (id)
)


2022-01-10 17:35:30,019 INFO sqlalchemy.engine.Engine [no key 0.00026s] ()
2022-01-10 17:35:30,020 INFO sqlalchemy.engine.Engine
CREATE TABLE invoiceitem (
	id INTEGER,
	invoice_id INTEGER,
	amount INTEGER NOT NULL,
	text VARCHAR NOT NULL,
	unit VARCHAR NOT NULL,
	unit_price INTEGER NOT NULL,
	"VAT_rate" FLOAT NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(invoice_id) REFERENCES invoice (id)
)


2022-01-10 17:35:30,020 INFO sqlalchemy.engine.Engine [no key 0.00052s] ()
2022-01-10 17:35:30,022 INFO sqlalchemy.engine.Engine COMMIT

In [5]:
my_address = tuttle.model.Address(
    street="Main Street",
    number="55",
    city="City 17",
    zip_code="555555",
    country="Brazil",
)

In [6]:
my_address

Address(id=None, street='Main Street', number='55', city='City 17', zip_code='555555', country='Brazil')

In [7]:
my_user = tuttle.model.User(
    name="Harry Tuttle",
    subtitle="Heating Engineer",
    business_name="Heating Engineer at Your Service",
    e_mail="harry@tuttle.com",
    address=my_address
)

In [8]:
with the_app.get_session() as session:
    session.add(my_user)
    session.commit()

2022-01-10 17:35:30,217 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-10 17:35:30,218 INFO sqlalchemy.engine.Engine INSERT INTO address (street, number, city, zip_code, country) VALUES (?, ?, ?, ?, ?)
2022-01-10 17:35:30,219 INFO sqlalchemy.engine.Engine [generated in 0.00034s] ('Main Street', '55', 'City 17', '555555', 'Brazil')
2022-01-10 17:35:30,220 INFO sqlalchemy.engine.Engine INSERT INTO user (name, subtitle, e_mail, address_id, "VAT_number", business_name) VALUES (?, ?, ?, ?, ?, ?)
2022-01-10 17:35:30,220 INFO sqlalchemy.engine.Engine [generated in 0.00048s] ('Harry Tuttle', 'Heating Engineer', 'harry@tuttle.com', 1, None, 'Heating Engineer at Your Service')
2022-01-10 17:35:30,221 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
with the_app.get_session() as session:
    addresses = session.exec(
        sqlmodel.select(tuttle.model.Address)
    ).all()
addresses

2022-01-10 17:35:30,254 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-10 17:35:30,255 INFO sqlalchemy.engine.Engine SELECT address.id, address.street, address.number, address.city, address.zip_code, address.country
FROM address
2022-01-10 17:35:30,255 INFO sqlalchemy.engine.Engine [no key 0.00026s] ()
2022-01-10 17:35:30,256 INFO sqlalchemy.engine.Engine ROLLBACK

/Users/cls/miniforge3/envs/tuttle/lib/python3.9/site-packages/sqlmodel/orm/session.py:60: SAWarning: Class SelectOfScalar will not make use of SQL compilation caching as it does not set the 'inherit_cache' attribute to ``True``.  This can have significant performance implications including some performance degradations in comparison to prior SQLAlchemy versions.  Set this attribute to True if this object can make use of the cache key generated by the superclass.  Alternatively, this attribute may be set to False which will disable this warning. (Background on this error at: https://sqlalche.me/e/14/cprf)
  results = super().execute(

[Address(street='Main Street', id=1, city='City 17', country='Brazil', number='55', zip_code='555555')]

In [10]:
the_app.db_path

PosixPath('/Users/cls/.tuttle/tuttle.db')

In [12]:
current_user = the_app.get_user()

2022-01-10 17:36:02,713 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-10 17:36:02,714 INFO sqlalchemy.engine.Engine SELECT user.id, user.name, user.subtitle, user.e_mail, user.address_id, user."VAT_number", user.business_name
FROM user
2022-01-10 17:36:02,714 INFO sqlalchemy.engine.Engine [no key 0.00039s] ()
2022-01-10 17:36:02,715 INFO sqlalchemy.engine.Engine ROLLBACK

In [13]:
current_user

User(id=1, address_id=1, business_name='Heating Engineer at Your Service', name='Harry Tuttle', e_mail='harry@tuttle.com', subtitle='Heating Engineer', VAT_number=None)