# Test: Timesheet from iCloud

## Preamble

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from tuttle import cloud

2022-01-09 20:57:50,051 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-09 20:57:50,052 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("bank")
2022-01-09 20:57:50,053 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-09 20:57:50,055 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("bankaccount")
2022-01-09 20:57:50,058 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-09 20:57:50,059 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("contact")
2022-01-09 20:57:50,060 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-09 20:57:50,061 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("client")
2022-01-09 20:57:50,062 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-09 20:57:50,063 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("rate")
2022-01-09 20:57:50,065 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-09 20:57:50,067 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("contract")
2022-01-09 20:57:50,068 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-09 20:57:50,069 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("project")
2022-01-09 20:57:50,070 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-09 20:57:50,073 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("timesheet")
2022-01-09 20:57:50,074 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-09 20:57:50,076 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("invoice")
2022-01-09 20:57:50,077 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-09 20:57:50,078 INFO sqlalchemy.engine.Engine COMMIT

In [3]:
from tuttle import calendar

In [4]:
from tuttle import timetracking

## Workflow

In [5]:
iCloud = cloud.login_iCloud()

In [6]:
time_tracking_cal = calendar.CloudCalendar(
    name="TimeTracking",
    icloud=iCloud
)

/Users/cls/miniforge3/envs/tuttle/lib/python3.9/site-packages/pyicloud/services/calendar.py:81: PytzUsageWarning: The zone attribute is specific to pytz's interface; please migrate to a new time zone provider. For more details on how to do so, see https://pytz-deprecation-shim.readthedocs.io/en/latest/migration.html
  "usertz": get_localzone().zone,

In [7]:
timetracking.generate_timesheet(
    time_tracking_cal,
    period="Jan 2022",
    client="Prototype Fund",
    comment="yay"
)

/Users/cls/miniforge3/envs/tuttle/lib/python3.9/site-packages/pyicloud/services/calendar.py:53: PytzUsageWarning: The zone attribute is specific to pytz's interface; please migrate to a new time zone provider. For more details on how to do so, see https://pytz-deprecation-shim.readthedocs.io/en/latest/migration.html
  "usertz": get_localzone().zone,

Timesheet(table=            hours comment
date
2022-01-03      3     yay
2022-01-04      7     yay
2022-01-06      3     yay
2022-01-07      2     yay
2022-01-08      2     yay
2022-01-09      6     yay, period='Jan 2022', client='Prototype Fund', comment='yay')

In [8]:
ts = _

In [10]:
ts.table

            hours comment
date
2022-01-03      3     yay
2022-01-04      7     yay
2022-01-06      3     yay
2022-01-07      2     yay
2022-01-08      2     yay
2022-01-09      6     yay